<main>
  <div class="container">
    <div class="row mt-3">
      <div class="px-3 mx-auto">
        <h1>Welcome to <span><i class="fa-solid fa-book"></i></span><strong>Bookers</strong>!</h1>
      </div>
    </div>
  </div>
</main>
      